# Java
*.class

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Logs
*.log

# Java archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java/BlueJ
*.ctxt
.mtj.tmp/

# JVM crash logs
hs_err_pid*
replay_pid*
